[submodule "available/bibyfi"]
	path = available/bibyfi
	url = https://github.com/namachan10777/bibyfi
[submodule "available/slydifi"]
	path = available/slydifi
	url = https://github.com/monaqa/slydifi
